@tailwind base;
@import "tailwindcss/components";

@import "tailwindcss/utilities";

*, *::before, *::after {
    box-sizing: border-box;
}

main{
    // min-height: calc(100vh - 80px);
    background-color: #fff;
}

iframe{
    width: 100%;
}